.container {
    background: rgba(27, 14, 41, 0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    display: flex;
    justify-content: center;
    width: 450px;
    height: 600px;
    box-shadow: 0 0 25px 10px #2c005e;
}

.inputContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tudo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/Bg/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;

}

.img {
    padding-top: 10%;
    width: 35%;
    height: auto;
    padding-bottom: 6%;
}

.inp {
    position: relative;
    padding: 7.5px;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.btn {
    width: 100%;
    height: 50px;
}

.icon {
    color: white;
    position: absolute;
    padding-top: 2.5%;
}

.password {
    position: absolute;
    right: 15px;
    top: 50%;
    cursor: pointer;
    background: transparent;
    border: none;
}

.back{
    margin: 5%;
}

.back p{
    padding-top: 10%;
}

.link{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-style: normal;
}

.back p:hover{
    color: #8e55ca;
}

input[type=file]::file-selector-button {
    height: 30px;
    width: 125px;
    border: transparent;
    border-radius: 10px;
    border: 2px solid #8818C0;
    background-color: #110947;
    color: white;
    transition: 150ms;
}

input[type=file]::file-selector-button:hover {
    transition: 150ms;
    height: 33px;
    width: 128px;
    cursor: pointer;
    background-color: #190e5f;
}